.features
  background-color: #E8EDFA
  padding: 50px 0

  .flex-wrap
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0 50px
    margin: 0 auto
    width: 100%

    .features-item
      width: 320px
      text-align: center
      padding: 20px 30px

      img
        height: 60px

      .item-title
        font:
          size: 18px
          weight: bold
        margin: 15px 0

.full-width
  background:
    image: url(../img/features/waves-bg.png)
    size: cover
    repeat: no-repeat
  width: 100%
  height: 300px
