.price
    padding: 50px 20px
    
    .price-heading
        padding: 50px 30px 10px 30px

    p
        max-width: 600px
        margin: 0 auto
        text-align: center
        padding: 0 10px

    .price-table-wrap
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 50px auto

        .price-item
            width: 234px
            text-align: center
            background: #FFFFFF;
            border: 1px solid #EAEEFB;
            box-shadow: 0 2px 24px 0 #E8EDFA;
            border-radius: 5px;
            padding: 25px
            margin: 20px 30px


            h2
                font:
                    size: 18px
                    weight: 600
                color: #58627C
                margin: 0
            
            h3
                font:
                    size: 39px
                    weight: 400
                color: #4A90E2
                margin: 20px 0

                span
                    color: #58627C
                    font:
                        size: 24px
                        weight: 400
            
            hr
                color: #E8EDFA
            
            li
                list-style: none
                padding: 8px 0
            
            li::before
                content: "•"
                color: #6DC66A
                display: inline-block
                width: 1em
                margin-left: -1em

                span
                    color: #ADB6D0
            
            button
                border-radius: 48px;
                padding: 6px 21px
                font-size: 15px
                margin: 20px 0
                border: 2px solid #E8EDFA
                

            .clear-btn
                color: #58627C


            .green-btn
                background-image: linear-gradient(-180deg, #7ED321 3%, #5FA315 100%)
                color: #fff
                border: 2px solid #7ED321

.cta-strap
    background: #F5F7FD
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    width: 100%
    padding: 50px 20px
    margin: 0
    align-items: center
    text-align: center

    p
        margin: 20px 0
        color: #5E6A89
        font:
            size: 18px
    
    button
        background-image: linear-gradient(-180deg, #2170D3 3%, #2955BA 100%)
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.19), inset 1px 1px 1px 0 rgba(255,255,255,0.15)
        border-radius: 48px
        font-family: Lato-Regular
        font-size: 16px
        color: #FFFFFF
        letter-spacing: 0
        text-shadow: 1px 1px 2px rgba(0,0,0,0.20)
        padding: 14px 46px
        margin: 20px 0

        
                                